/* 
    background: fff4dc

*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    width: 100%;
    background-color: #fff4dc;
    color: #353535;
    text-align: center;
    padding: 1rem;
}

.header-logo {
    height: 70px;
    width: 70px;
}

.card-img {
    border: 1px solid #000000;
    background-color: #353535;
}